api/test/SwiftPacDemo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 
	(trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 
	JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions targetNamespace="http://wsdl.example.org/"
	name="SwiftPac_Demo" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://wsdl.example.org/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<types>
		<!-- <xsd:schema> <xsd:import namespace="http://wsdl.example.org/" schemaLocation="SwiftPacDemo_schema1.xsd" 
			/> </xsd:schema> -->


		<xs:schema version="1.0" targetNamespace="http://wsdl.example.org/"
			xmlns:tns="http://wsdl.example.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified">

			<xs:element name="myrate" type="tns:myrate" />

			<xs:element name="getDate" type="tns:getDate" />

			<xs:element name="getDateResponse" type="tns:getDateResponse" />

			<xs:element name="getRate" type="tns:getRate" />

			<xs:element name="getRateResponse" type="tns:getRateResponse" />

			<xs:element name="sendAck" type="tns:sendAck" />

			<xs:element name="sendAckResponse" type="tns:sendAckResponse" />

			<xs:complexType name="sendAck">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="sendAckResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getRate">
				<xs:sequence>
					<xs:element name="carrier" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getRateResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
					<xs:element name="rateone" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getDate">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="getDateResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="myrate">
				<xs:sequence>
					<xs:element name="rate0" type="xs:string" minOccurs="0"
						maxOccurs="unbounded" />
					<xs:element name="rate1" type="xs:string" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getSwiftPacRate">
				<xs:sequence>
					<xs:element name="rateName" type="xs:string" minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:complexType>
		
			<xs:complexType name="getSwiftPacRateResponse">
				<xs:sequence>
					<xs:element name="regular" type="xs:string" minOccurs="0"></xs:element>
					<xs:element name="express" type="xs:string" minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:complexType>
		
		
			<xs:element name="getSwiftPacRate"
				type="tns:getSwiftPacRate">
			</xs:element>
			<xs:element name="getSwiftPacRateResponse"
				type="tns:getSwiftPacRateResponse">
			</xs:element>
		</xs:schema>
	</types>
	<message name="myrate">
		<part name="parameters" element="tns:myrate" />
	</message>
	<message name="getDate">
		<part name="parameters" element="tns:getDate" />
	</message>
	<message name="getDateResponse">
		<part name="parameters" element="tns:getDateResponse" />
	</message>
	<message name="getRate">
		<part name="parameters" element="tns:getRate" />
	</message>
	<message name="getRateResponse">
		<part name="parameters" element="tns:getRateResponse" />
	</message>
	<message name="sendAck">
		<part name="parameters" element="tns:sendAck" />
	</message>
	<message name="sendAckResponse">
		<part name="parameters" element="tns:sendAckResponse" />
	</message>
	<message name="getSwiftPacRateRequest">
        <part name="parameters" element="tns:getSwiftPacRate"></part>
	</message>
	<message name="getSwiftPacRateResponse">
		<part name="parameters" element="tns:getSwiftPacRateResponse"></part>
	</message>
	<portType name="SwiftPac_Demo">
		<operation name="getDate">
			<input wsam:Action="http://wsdl.example.org/SwiftPac_Demo/getDateRequest"
				message="tns:getDate" />
			<output wsam:Action="http://wsdl.example.org/SwiftPac_Demo/getDateResponse"
				message="tns:getDateResponse" />
		</operation>
		<operation name="getRate">
			<input wsam:Action="http://wsdl.example.org/SwiftPac_Demo/getRateRequest"
				message="tns:getRate" />
			<output wsam:Action="http://wsdl.example.org/SwiftPac_Demo/rate"
				message="tns:getRateResponse" />
		</operation>
		<operation name="sendAck">
			<input wsam:Action="http://wsdl.example.org/SwiftPac_Demo/sendAckRequest"
				message="tns:sendAck" />
			<output wsam:Action="http://wsdl.example.org/SwiftPac_Demo/sendAckResponse"
				message="tns:sendAckResponse" />
		</operation>
		<operation name="getSwiftPacRate">
			<input message="tns:getSwiftPacRateRequest"></input>
			<output message="tns:getSwiftPacRateResponse"></output>
		</operation>
	</portType>
	<binding name="SwiftPac_DemoPortBinding" type="tns:SwiftPac_Demo">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getDate">
			<soap:operation
				soapAction="http://wsdl.example.org/getDate" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getRate">
			<soap:operation
				soapAction="http://wsdl.example.org/getRate" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="sendAck">
			<soap:operation
				soapAction="http://wsdl.example.org/sendAck" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getSwiftPacRate">
			<soap:operation
				soapAction="http://wsdl.example.org/getSwiftPacRate" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="SwiftPac_Demo">
		<port name="SwiftPac_DemoPort" binding="tns:SwiftPac_DemoPortBinding">
			<soap:address location="http://testapi.vincyaviation.com/api/swiftpacapi.php" />
		</port>
	</service>
</definitions>

