api/SwiftPacShippingWDSL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SwiftPacShippingWDSL"
	targetNamespace="http://www.example.org/SwiftPacShippingWDSL/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/SwiftPacShippingWDSL/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.org/SwiftPacShippingWDSL/">







            <xsd:include schemaLocation=""></xsd:include>
            <xsd:complexType name="Address">
				<xsd:sequence minOccurs="0" maxOccurs="1">
					<xsd:element name="name" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="company" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="attn" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="addressLine1" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="addressLine2" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="state" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="zip" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="city" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="countryName" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="countryCode" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="residentialFlag"
						type="xsd:boolean" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="email" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="mobile" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="phone" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="fax" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
            </xsd:complexType>

			<xsd:complexType name="LocationService">
				<xsd:sequence>
					<xsd:element name="inside" type="xsd:boolean"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="stairs" type="xsd:boolean"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="liftGate" type="xsd:boolean"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="forkLift" type="xsd:boolean"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="keepFrozen" type="xsd:boolean"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="perishable" type="xsd:boolean"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="saturday" type="xsd:boolean"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="holiday" type="xsd:boolean"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Package">
				<xsd:sequence>
					<xsd:element name="shipToAttn" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="packagingType" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="contentDescription"
						type="xsd:string" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="packageClass" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="dimensions" type="tns:Dimensions"
						maxOccurs="1" minOccurs="1">
					</xsd:element>



					<xsd:element name="weight" type="xsd:double"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="referenceNumber"
						type="xsd:string" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="notifiedValue" type="xsd:double"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="hazardous" type="xsd:boolean"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="itemQty" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="packageLabelId" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PackageList">
				<xsd:sequence>
					<xsd:element name="packages" type="tns:Package" maxOccurs="unbounded" minOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Shipment">
				<xsd:sequence>
					<xsd:element name="shipFrom" type="tns:Address"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="pickupLocationService"
						type="tns:LocationService" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="shipTo" type="tns:Address"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="deliveryLocationService"
						type="tns:LocationService" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="returnTo" type="tns:Address"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="packageList"
						type="tns:PackageList" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="fragileFlag" type="xsd:boolean"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="declaredValue" type="xsd:double"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="carrerId" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="driverInstructions"
						type="xsd:string" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="serviceCode" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="weightUnit" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

					<xsd:element name="shipDate" type="xsd:dateTime"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

					<xsd:element name="weight" type="xsd:double"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

					<xsd:element name="dimensions" type="tns:Dimensions"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="shipperAccNum" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="recipientAccNum"
						type="xsd:string" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="paymentDetail"
						type="tns:PaymentDetail" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="shipmentType" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="reference" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ShipmentList">
				<xsd:sequence>
					<xsd:element name="shipment" type="tns:Shipment" maxOccurs="1" minOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RequestDetail">
				<xsd:sequence>
					<xsd:element name="shipmentList" type="tns:ShipmentList" maxOccurs="1" minOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Rate">
				<xsd:sequence>
					<xsd:element name="requestDetail" type="tns:RequestDetail" maxOccurs="1" minOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RateRequest">
				<xsd:sequence>
					<xsd:element name="rate" type="tns:Rate" maxOccurs="1" minOccurs="1">
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>



			<xsd:complexType name="SwiftPacRate">
				<xsd:sequence maxOccurs="1" minOccurs="0">
					<xsd:element name="rateRequest" type="tns:RateRequest" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="FeeDetails">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="charge" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Fee">
				<xsd:sequence>
					<xsd:element name="feeDetails" type="tns:FeeDetails" maxOccurs="1" minOccurs="0">
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ShipmentCharges">
				<xsd:sequence>
					<xsd:element name="rate" type="xsd:double" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="baseRate" type="xsd:double" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="fees" type="tns:Fee" maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Service">
				<xsd:sequence>
					<xsd:element name="carrier" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="serviceCode" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="serviceDesc" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="serviceType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="estimatedDeliveryDate"
						type="xsd:dateTime" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="estimatedDeliveryTime"
						type="xsd:string" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="guaranteedService"
						type="xsd:boolean" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="shipmentCharges"
						type="tns:ShipmentCharges" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="transitTime" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ServiceRateResult">
				<xsd:sequence>
					<xsd:element name="service" type="tns:Service"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RateResult">
				<xsd:sequence>
					<xsd:element name="serviceList" type="tns:Service"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RateResponse">
				<xsd:sequence>
					<xsd:element name="rateResult" type="tns:RateResult"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="errors" type="tns:Error"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="SwiftPacRateResponse">
				<xsd:sequence>
					<xsd:element name="rateResponse" type="tns:RateResponse" maxOccurs="1" minOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SwiftPacRate" type="tns:SwiftPacRate">

			</xsd:element>
			<xsd:element name="SwiftPacRateResponse"
				type="tns:SwiftPacRateResponse">

			</xsd:element>
            <xsd:complexType name="Error">
            	<xsd:sequence>
            		<xsd:element name="errorDetails"
            			type="tns:ErrorDetails" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ErrorDetails">
            	<xsd:sequence>
            		<xsd:element name="type" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="message" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="nonce" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="digestRealm" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>

            		<xsd:element name="addressVerification"
            			type="tns:AddressVerification" maxOccurs="1"
            			minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="Dimensions">
            	<xsd:sequence>
            		<xsd:element name="length" type="xsd:double"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>

            		<xsd:element name="width" type="xsd:double"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="height" type="xsd:double"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="girth" type="xsd:double"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="unit" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>


		
		
            <xsd:complexType name="ShipmentRequest">
            	<xsd:sequence>
            		<xsd:element name="requestDetail"
            			type="tns:RequestDetail" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="LocationServiceFee">
            	<xsd:sequence>
            		<xsd:element name="residentialFee"
            			type="xsd:double" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="saturdayFee"
            			type="xsd:double" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="insideFee"
            			type="xsd:double" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="forkLiftFee"
            			type="xsd:double" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="stairsFee"
            			type="xsd:double" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="keepFrozenFee"
            			type="xsd:double" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="perishableFee"
            			type="xsd:double" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="holidayFee"
            			type="xsd:double" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="Piece">
            	<xsd:sequence>
            		<xsd:element name="trackingNumber" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="label" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="shipmentCharges" type="tns:ShipmentCharges" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="referenceNumber" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="PieceList">
            	<xsd:sequence>
            		<xsd:element name="pieceList" type="tns:Piece"
            			maxOccurs="unbounded" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="Document">
            	<xsd:sequence>
            		<xsd:element name="type" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="url" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="referenceNumber" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="DocumentList">
            	<xsd:sequence>
            		<xsd:element name="document" type="tns:Document"
            			maxOccurs="unbounded" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="ShipResult">
            	<xsd:sequence>
            		<xsd:element name="shipmentCharge" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="pickupFee" type="tns:LocationServiceFee" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="deliveryFee" type="tns:LocationServiceFee" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="fuelCharge" type="xsd:double" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="insuranceCharge" type="xsd:double" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="dangerousGoodFee" type="xsd:double" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="documentList" type="tns:DocumentList" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="pieceList" type="tns:PieceList" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="shipmentWeight" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="trackingNumber" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="label" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="referenceNumber" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="ShipmentResponse">
            	<xsd:sequence>
            		<xsd:element name="shipResult" type="tns:ShipResult"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="errors" type="tns:Error"
            			maxOccurs="unbounded" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
        


		
            
            <xsd:element name="SwiftPacShipment"
            	type="tns:SwiftPacShipment">
            </xsd:element>
            <xsd:element name="SwiftPacShipmentResponse"
            	type="tns:SwiftPacShipmentResponse">

            </xsd:element>
            
            <xsd:complexType name="SwiftPacShipment">
            	<xsd:sequence>
            		<xsd:element name="shipmentRequest"
            			type="tns:ShipmentRequest" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="SwiftPacShipmentResponse">
            	<xsd:sequence>
            		<xsd:element name="shipmentResponse"
            			type="tns:ShipmentResponse" maxOccurs="1"
            			minOccurs="1">
            		</xsd:element>

            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="SwiftPacCreateAccount">
            	<xsd:sequence>
            		<xsd:element name="createAccountRequest"
            			type="tns:CreateAccountRequest" maxOccurs="1"
            			minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="CreateAccount">
            	<xsd:sequence>
            		<xsd:element name="username" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="password" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="branch" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="firstName" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="lastName" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="address1" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="address2" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="city" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="state" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="zipCode" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="country" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="countryCode" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="phone" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="fax" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="mobile" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="email" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="language" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="paymentMethod" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="accountType" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="CreateAccountRequest">
            	<xsd:sequence>
            		<xsd:element name="createAccountList"
            			type="tns:CreateAccount" maxOccurs="unbounded" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="SwiftPacCreateAccountResponse">
            	<xsd:sequence>
            		<xsd:element name="createAccountResponse"
            			type="tns:CreateAccountResponse" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="CreateAccountResult">
            	<xsd:sequence>
            		<xsd:element name="username" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="isCreated" type="xsd:boolean" maxOccurs="1" minOccurs="0"></xsd:element>
                    <xsd:element name="errors" type="tns:Error" maxOccurs="1" minOccurs="0">
            		</xsd:element>
                </xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="CreateAccountResponse">
            	<xsd:sequence>
            		<xsd:element name="createAccountResultList"
            			type="tns:CreateAccountResult" maxOccurs="unbounded"
            			minOccurs="0">
            		</xsd:element>

            		<xsd:element name="errors" type="tns:Error"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SwiftPacCreateAccount"
            	type="tns:SwiftPacCreateAccount">

            </xsd:element>
            <xsd:element name="SwiftPacCreateAccountResponse"
            	type="tns:SwiftPacCreateAccountResponse">

            </xsd:element>
		
            <xsd:complexType name="SwiftPacAccountSearchResponse">
            	<xsd:sequence>
            		<xsd:element name="accountSearchResponse"
            			type="tns:AccountSearchResponse" maxOccurs="1"
            			minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="AccountSearchResult">
            	<xsd:sequence>
            		<xsd:element name="userLogin" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="email" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="firstName" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="lastName" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="cargoTrackClass"
            			type="xsd:string" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="cargoTrackId" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="cargoTrackPass" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="address1" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="address2" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="city" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="state" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="zipCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="countryCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="mobileNumber" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="AccountSearchResponse">
            	<xsd:sequence>
            		<xsd:element name="accountSearchResultList"
            			type="tns:AccountSearchResult" maxOccurs="unbounded"
            			minOccurs="0">
            		</xsd:element>
            		<xsd:element name="errors" type="tns:Error" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="AccountSearch">
            	<xsd:sequence>
            		<xsd:element name="userLogin" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="email" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="firstName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="lastName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="AccountSearchRequest">
            	<xsd:sequence>
            		<xsd:element name="accountSearch"
            			type="tns:AccountSearch">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="SwiftPacAccountSearch">
            	<xsd:sequence>
            		<xsd:element name="accountSearchRequest"
            			type="tns:AccountSearchRequest" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SwiftPacAccountSearch"
            	type="tns:SwiftPacAccountSearch">

            </xsd:element>
            <xsd:element name="SwiftPacAccountSearchResponse"
            	type="tns:SwiftPacAccountSearchResponse">

            </xsd:element>
		
            <xsd:complexType name="SwiftPacAccountValidation">
            	<xsd:sequence>
            		<xsd:element name="accountValidationRequest"
            			type="tns:AccountValidationRequest" maxOccurs="1"
            			minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="AccountValidationRequest">
            	<xsd:sequence>
            		<xsd:element name="username" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="password" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="SwiftPacAccountValidationResponse">
            	<xsd:sequence>
            		<xsd:element name="accountValidationResponse"
            			type="tns:AccountValidationResponse" maxOccurs="1"
            			minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="AccountValidationResponse">
            	<xsd:sequence>
            		<xsd:element name="validationResult"
            			type="tns:ValidationResult" maxOccurs="1"
            			minOccurs="0">
            		</xsd:element>
            		<xsd:element name="errors" type="tns:Error" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ValidationResult">
            	<xsd:sequence>
            		<xsd:element name="isValidAccount"
            			type="xsd:boolean" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SwiftPacAccountValidation"
            	type="tns:SwiftPacAccountValidation">

            </xsd:element>
            <xsd:element name="SwiftPacAccountValidationResponse"
            	type="tns:SwiftPacAccountValidationResponse">

            </xsd:element>
		
            <xsd:complexType name="CreditCardPaymentResult">
            	<xsd:sequence>
            		<xsd:element name="name" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="captured" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="amount" type="xsd:double"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="paid" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="status" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>

            		<xsd:element name="last4" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="currency" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="CreditCardPaymentResponse">
            	<xsd:sequence>
            		<xsd:element name="creditCardPaymentResult"
            			type="tns:CreditCardPaymentResult" maxOccurs="1"
            			minOccurs="0">
            		</xsd:element>
            		<xsd:element name="errors" type="tns:Error"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="SwiftPacCreditCardPaymentResponse">
            	<xsd:sequence>
            		<xsd:element name="creditCardPaymentResponse"
            			type="tns:CreditCardPaymentResponse" maxOccurs="1"
            			minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="CreditCard">
            	<xsd:sequence>
            		<xsd:element name="expMonth" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="expYear" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="number" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="cvc" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
                    <xsd:element name="cardHolderAddress" type="tns:Address" maxOccurs="1" minOccurs="0">
            		</xsd:element>
                </xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="CreditCardPaymentRequest">
            	<xsd:sequence>
            		<xsd:element name="creditCard" type="tns:CreditCard"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>


            		<xsd:element name="chargeAmount" type="xsd:double"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="currency" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="SwiftPacCreditCardPayment">
            	<xsd:sequence>
            		<xsd:element name="creditCardPaymentRequest"
            			type="tns:CreditCardPaymentRequest" maxOccurs="1"
            			minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SwiftPacCreditCardPayment"
            	type="tns:SwiftPacCreditCardPayment">

            </xsd:element>
            <xsd:element name="SwiftPacCreditCardPaymentResponse"
            	type="tns:SwiftPacCreditCardPaymentResponse">

            </xsd:element>
		
		
            <xsd:complexType name="AddressVerification">
            	<xsd:sequence>
            		<xsd:element name="type" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="proposedName" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="proposedAddressLine1"
            			type="xsd:string" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="proposedCity" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="proposedState" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="proposedZip" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="proposedCountryCode"
            			type="xsd:string" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="PaymentOption">
            	<xsd:sequence>
            		<xsd:element name="creditCard"
            			type="tns:CreditCard">
            		</xsd:element>
            		<xsd:element name="payPal" type="tns:PayPal"></xsd:element>
            		<xsd:element name="cash" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="PayPal"></xsd:complexType>
        
            <xsd:complexType name="PaymentDetail">
            	<xsd:sequence>
            		<xsd:element name="paymentOption"
            			type="tns:PaymentOption" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="paymentCurrency" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="EditAccount">
            	<xsd:sequence>
            		<xsd:element name="password" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="agent" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="firstName" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="lastName" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="address1" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="address2" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="city" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="state" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="zipCode" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="country" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="countryCode" type="xsd:string" 
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="phone" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="fax" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="mobile" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="email" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="language" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="paymentMethod" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="accountType" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
        
            <xsd:complexType name="SwiftPacEditAccount">
            	<xsd:sequence>
            		<xsd:element name="editAccountRequest"
            			type="tns:EditAccountRequest" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="SwiftPacEditAccountResponse">
            	<xsd:sequence>
            		<xsd:element name="editAccountResponse"
            			type="tns:EditAccountResponse" maxOccurs="1"
            			minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="EditAccountRequest">
            	<xsd:sequence>
            		<xsd:element name="editAccountList"
            			type="tns:EditAccount" maxOccurs="unbounded" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="accountUsername"
            			type="xsd:string" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SwiftPacEditAccount"
            	type="tns:SwiftPacEditAccount">

            </xsd:element>
            <xsd:element name="SwiftPacEditAccountResponse"
            	type="tns:SwiftPacEditAccountResponse">

            </xsd:element>
		
            <xsd:complexType name="EditAccountResponse">
            	<xsd:sequence>
            		<xsd:element name="editAccountResultList"
            			type="tns:EditAccountResult" maxOccurs="unbounded"
            			minOccurs="0">
            		</xsd:element>
            		<xsd:element name="errors" type="tns:Error"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="EditAccountResult">
            	<xsd:sequence>
            		<xsd:element name="username" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="isEdited" type="xsd:boolean" maxOccurs="1" minOccurs="0"></xsd:element>
                    <xsd:element name="errors" type="tns:Error" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
	</wsdl:types>
	<wsdl:message name="SwiftPacRateRequest">
		<wsdl:part name="parameters" element="tns:SwiftPacRate"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacRateResponse">
		<wsdl:part name="parameters" element="tns:SwiftPacRateResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacShipmentRequest">
		<wsdl:part name="parameters" element="tns:SwiftPacShipment"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacShipmentResponse">
		<wsdl:part name="parameters" element="tns:SwiftPacShipmentResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacCreateAccountRequest">
		<wsdl:part name="parameters" element="tns:SwiftPacCreateAccount"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacCreateAccountResponse">
		<wsdl:part name="parameters" element="tns:SwiftPacCreateAccountResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacAccountSearchRequest">
		<wsdl:part name="parameters" element="tns:SwiftPacAccountSearch"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacAccountSearchResponse">
		<wsdl:part name="parameters" element="tns:SwiftPacAccountSearchResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacAccountValidationRequest">
		<wsdl:part name="parameters" element="tns:SwiftPacAccountValidation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacAccountValidationResponse">
		<wsdl:part name="parameters" element="tns:SwiftPacAccountValidationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacCreditCardPaymentRequest">
		<wsdl:part name="parameters" element="tns:SwiftPacCreditCardPayment"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacCreditCardPaymentResponse">
		<wsdl:part name="parameters" element="tns:SwiftPacCreditCardPaymentResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacEditAccountRequest">
		<wsdl:part name="parameters" element="tns:SwiftPacEditAccount"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SwiftPacEditAccountResponse">
		<wsdl:part name="parameters" element="tns:SwiftPacEditAccountResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SwiftPacShippingWSDLPortType">

		<wsdl:operation name="SwiftPacRate">
			<wsdl:input message="tns:SwiftPacRateRequest"></wsdl:input>
			<wsdl:output message="tns:SwiftPacRateResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SwiftPacShipment">
			<wsdl:input message="tns:SwiftPacShipmentRequest"></wsdl:input>
			<wsdl:output message="tns:SwiftPacShipmentResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SwiftPacCreateAccount">
			<wsdl:input message="tns:SwiftPacCreateAccountRequest"></wsdl:input>
			<wsdl:output message="tns:SwiftPacCreateAccountResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SwiftPacAccountSearch">
			<wsdl:input message="tns:SwiftPacAccountSearchRequest"></wsdl:input>
			<wsdl:output message="tns:SwiftPacAccountSearchResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SwiftPacAccountValidation">
			<wsdl:input message="tns:SwiftPacAccountValidationRequest"></wsdl:input>
			<wsdl:output message="tns:SwiftPacAccountValidationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SwiftPacCreditCardPayment">
			<wsdl:input message="tns:SwiftPacCreditCardPaymentRequest"></wsdl:input>
			<wsdl:output message="tns:SwiftPacCreditCardPaymentResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SwiftPacEditAccount">
			<wsdl:input message="tns:SwiftPacEditAccountRequest"></wsdl:input>
			<wsdl:output message="tns:SwiftPacEditAccountResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SwiftPacShippingWSDLPortBinding"
		type="tns:SwiftPacShippingWSDLPortType">


		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SwiftPacRate">

			<soap:operation
				soapAction="http://www.example.org/SwiftPacShippingWDSL/SwiftPacRate" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SwiftPacShipment">
			<soap:operation
				soapAction="http://www.example.org/SwiftPacShippingWDSL/SwiftPacShipment" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SwiftPacCreateAccount">
			<soap:operation
				soapAction="http://www.example.org/SwiftPacShippingWDSL/SwiftPacCreateAccount" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SwiftPacAccountSearch">
			<soap:operation
				soapAction="http://www.example.org/SwiftPacShippingWDSL/SwiftPacAccountSearch" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SwiftPacAccountValidation">
			<soap:operation
				soapAction="http://www.example.org/SwiftPacShippingWDSL/SwiftPacAccountValidation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SwiftPacCreditCardPayment">
			<soap:operation
				soapAction="http://www.example.org/SwiftPacShippingWDSL/SwiftPacCreditCardPayment" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SwiftPacEditAccount">
			<soap:operation
				soapAction="http://www.example.org/SwiftPacShippingWDSL/SwiftPacEditAccount" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SwiftPacShippingWDSL">
		<wsdl:port name="SwiftPacShippingWSDLPort" binding="tns:SwiftPacShippingWSDLPortBinding">
			<soap:address
				location="http://testapi.vincyaviation.com/api/SwiftPacShippingAPI.php?wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>